<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Board Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">TO-DO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/boards">Boards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/profile"> <%=user.name %></a>
               </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
               <!--  <div class="meta-info-blog">
                    <span><i class="fa fa-calendar"></i>
                        <p class="font-weight-light">%= board.createdAt %></p>
                    </span>
                </div> -->
                <div class="blog-title">
                    <h2 class="card-title"><%= board.name %></h2>
                </div>
                <div class="blog-desc">
                    <p class="card-text"><%= board.boardDescription %></p>
                </div>

                <% for (let x= 0; x < tasks.length; x++) { %>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Task Name: <%= tasks[x].name %></h5>
                        <p class="card-text">Task Description: <%= tasks[x].description %></p>
                        <p class="card-text">Task Status: <%= tasks[x].status %></p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
